<a href="https://colab.research.google.com/github/Cesarso/Python-para-DataScience/blob/main/C%C3%B3pia_de_Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

# 1.3 Trabalhando com dados

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';')
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [ ]:
datacliente = pd.read_excel('CLIENTES.xlsx', )
datacliente

,Data,Hora,Nº Chamado,Cliente,CNPJ,...,TeamViewer,Problema Relatado,Técnico,Solução,Unnamed: 10
0,2020-03-18 00:00:00,08:00:00,171301,RESTAURANTE PIANENSE LTDA,42168161000139,...,id 491361272 senha y366qd,LICENÇA/SISTEMA NÃO ESTÁ ABRINDO,VITOU,"Feito atualização do Mobility POS, criado atal...",NaN
1,2020-03-18 00:00:00,08:28:00,171303,ALESSANDRO MENEZES GOMES,4577166000126,...,ID 914844443 SENHA Y7W5U3,RENOVAÇÃO DE LICENÇA,VITOU,FEITO O LICENCIAMENTO ANUAL DO POS,NaN
2,2020-03-18 00:00:00,08:38:00,171304,PR RAMALHO MOREIRA,31369929000116,...,ID 1212842466 SENHA DTW441,RENOVAÇÃO DE LICENÇA nfc,WILLIAM,LICENCIADO,NaN
3,2020-03-18 00:00:00,08:41:00,171270,FERNANDO MAIA PINTO COMÉRCIO DE APARELHOS,32413168000115,...,ID 1298128924,LICENÇA ANUIDADE JÁ FOI GERADA PELA JU QUEM PE...,REGINALDO,LICENÇA INSERIDA,NaN
4,2020-03-18 00:00:00,08:52:00,171302,MERCADINHO AROMA DA BARREIRA LTDA,4977463000169,...,ID 326949341 - 3ZG22Z,NÃO ESTA IMPRIMINDO - SERVIDOR NÃO ESTA LIGANDO.,REGINALDO,"SERVIDOR DA CLIENTE NÃO ESTÁ LIGANDO, TÉCNICO ...",NaN
...,...,...,...,...,...,...,...,...,...,...,...
845,2020-06-16 00:00:00,15:08:00,172134,RESTAURANTE PIANENSE LTDA,42168161000139,...,491361272 senha mdh499,"CONFIGURAÇÃO DO CERTIFICADO, ESTA NOS DOWNLOADS",VITOU,CLIENTE SE ENGANOU,NaN
846,2020-06-16 00:00:00,15:26:00,172136,SÓ TECIDOS LTDA,31721053000125,...,130007231 SENHA S8IT38,NOTAS QUE NÃO FORAM ENVIADAS PARA O CONTADOR R...,OSCAR,CLIENTE NAO EFETUOU VENDAS ANTERIORES,NaN
847,2020-06-16 00:00:00,15:45:00,172137,BAR PONTO DA GALERA LTDA ME,31873912000100,...,1348989863 senha 7q3a7v,REDUÇAO DO ARQUIVO XML DE MAIO - 964911995 - R...,OSCAR,XML ENVIADO E CLIENTE INFORMADO,NaN
848,2020-06-16 00:00:00,15:47:00,172138,BAZAR TEC MAX LTDA,34199215000103,...,1360471677 senha 575xcz,Verificar qual a última nota emitida - dps lib...,VITOU,FEITO A INSTALAÇÃO DO FIREBIRD,NaN
849,2020-06-16 00:00:00,16:23:00,172139,AVES ABATIDAS NOSSA SENHORA DE FATIMA LTDA,31932296000102,...,520778595 SENHA 9KBT52,ENVIO DO XML DE MAIO,VITOU,FEITO O ENVIO DO XML PARA O CLIENTE,NaN

In [ ]:
dataset[['Quilometragem', 'Valor']]. describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
datacliente[['Cliente', 'Data']].describe()

                             Cliente                 Data
count                            849                  850
unique                           395                   61
top     ALFA BELLE 2001 PADARIA LTDA  2020-05-13 00:00:00
freq                              14                   32

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [ ]:
()

()

In [ ]:
1,2,3

(1, 2, 3)

In [ ]:
nome  = 'Passat'
valor = 15300
(nome,valor)

('Passat', 15300)

In [ ]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
type(nomes_carros)

tuple

# 2.2 Seleções em tuplas

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
nomes_carros[0]

'Jetta Variant'

In [ ]:
nomes_carros[-1]

'DS5'

In [ ]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [ ]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [ ]:
nomes_carros[-1][1]

'Gol'

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [ ]:
carros[0][3]

False

In [ ]:
carros[-1][-1][-1]

'Freios ABS'

In [ ]:
carros[0][-1][:2]

('Rodas de liga', 'Travas elétricas')

# 2.3 Iterando em tuplas

In [ ]:
for item in nomes_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5
('Fusca', 'Gol', 'C4')

### Desempacotamento de tuplas

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [ ]:
carro_1

'Jetta Variant'

In [ ]:
_, A, _, B = nomes_carros #acessando o indice 1 e 3

In [ ]:
A

'Passat'

In [ ]:
B

'DS5'

In [ ]:
_, C, *_ = nomes_carros

In [ ]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [ ]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [ ]:
for item in zip(carros, valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [ ]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [ ]:
for carro, valor in zip(carros, valores):
  if(valor>100000):
    print(carro)

Passat
DS5

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [ ]:
for tupla in carros:
    for item in tupla[-1]:
        print(item)

Rodas de liga
Travas elétricas
Piloto automático
Central multimídia
Teto panorâmico
Freios ABS

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

### Criando dicionários com *zip()*

In [ ]:
dados = dict(zip(carros, valores))

In [ ]:
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [ ]:
dados['Passat']

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [ ]:
'Passat' in dados

True

In [ ]:
'Fusca' not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [ ]:
len(dados) #pares

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [ ]:
dados['DSS']=124549.07

In [ ]:
dados

{'Crossfox': 72832.16,
 'DSS': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [ ]:
del dados['Passat']

In [ ]:
dados

{'Crossfox': 72832.16, 'DSS': 124549.07, 'Jetta Variant': 88078.64}

In [ ]:
dados = {
    'Passat': {
        'ano': 2012,
        'km': 50000,
        'valor': 75000,
        'acessorios': ['Airbag', 'ABS']
    }, 
    'Crossfox': {
        'ano': 2015,
        'km': 35000,
        'valor': 25000
    }
}

In [ ]:
'acessorios' in dados['Crossfox']

False

In [ ]:
'acessorios' in dados['Passat']

True

In [ ]:

dados['Crossfox']['valor']

25000

In [ ]:

dados['Passat']['acessorios'][-1]

'ABS'

'ABS'

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [ ]:
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [ ]:
dados.update({'Passat': 106161.95, 'Fusca':15000})
dados

{'Crossfox': 72832.16,
 'Fusca': 15000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

## *dict.copy()*

Cria uma cópia do dicionário.

In [ ]:
dadosCopy = dados.copy()

In [ ]:
dadosCopy

{'Crossfox': 72832.16,
 'Fusca': 15000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [ ]:
del dadosCopy['Fusca']

In [ ]:
dadosCopy

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.95}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [ ]:
dados

{'Crossfox': 72832.16,
 'Fusca': 15000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [ ]:
dadosCopy

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.95}

In [ ]:
dadosCopy.pop('Passat')

106161.95

In [ ]:
dadosCopy

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64}

In [ ]:
#dadosCopy.pop('Passat')

KeyError: ignored

In [ ]:
dadosCopy.pop('Passat', 'Chave não encontrada')

'Chave não encontrada'

In [ ]:
dadosCopy

{}

## *dict.clear()*

Remove todos os itens do dicionário.

In [ ]:
dadosCopy.clear()

In [ ]:
dadosCopy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [ ]:
dados.keys()

dict_keys(['Jetta Variant', 'Passat', 'Crossfox', 'Fusca'])

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [ ]:
dados.values()

dict_values([88078.64, 106161.95, 72832.16, 15000])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [ ]:
dados.items()

dict_items([('Jetta Variant', 88078.64), ('Passat', 106161.95), ('Crossfox', 72832.16), ('Fusca', 15000)])

In [ ]:
for item in dados.items(): #
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.95)
('Crossfox', 72832.16)
('Fusca', 15000)

In [ ]:
for key,value in dados.items():
  print(key, value)

Jetta Variant 88078.64
Passat 106161.95
Crossfox 72832.16
Fusca 15000

In [ ]:
for key,value in dados.items():
  if(value>100000):
    print(key)

Passat

In [ ]:
dados = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}

In [ ]:
for item in dados.items():
    if(item[1]['ano'] >= 2000):
        print(item[0])

Crossfox
DS5
Jetta

In [ ]:
for item in dados.items():
    print(item)

('Crossfox', {'valor': 72000, 'ano': 2005})
('DS5', {'valor': 125000, 'ano': 2015})
('Fusca', {'valor': 150000, 'ano': 1976})
('Jetta', {'valor': 88000, 'ano': 2010})
('Passat', {'valor': 106000, 'ano': 1998})

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [ ]:
valores = []
for valor in dados.values():
  valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [ ]:
soma = 0
for valor in dados.values():
  soma += valor
soma

267072.74

In [ ]:
list(dados.values())

[88078.64, 106161.94, 72832.16]

In [ ]:
sum(dados.values(), 10000)

277072.74

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print?

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [ ]:
def media():
  valor = (1+2+5)/5
  print(valor)

In [ ]:
media()

1.6

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [ ]:
def media(number_1, number_2, number_3,number_4):
  valor = (number_1 + number_2 + number_3 + number_4)/4
  print(valor)
  if (valor >= 5.0):
      print('Aprovado')
  elif (valor > 4.0 and valor<5.0):
    print('Recuperação')
  else:
    print('Reprovado')

In [ ]:
media(int (input(f'Digite numero 1:\n')), int (input(f'Digite numero 2:\n')), int (input(f'Digite numero 3:\n')),int (input(f'Digite numero 4:\n')))

Digite numero 1:
5
Digite numero 2:
5
Digite numero 3:
5
Digite numero 4:
6
5.25
Aprovado

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
def km_media(dataset, ano_atual):
    for item in dataset.items():
        result = item[1]['km'] / (ano_atual - item[1]['ano'])
        print(result)

In [ ]:
km_media(dados, 2019)

2500.0
4250.0
3250.0
7000.0
3100.0

In [ ]:
media(23,45,97)

55.0

In [ ]:
def media(lista):
  valor = sum(lista) / len(lista)
  print(valor)

In [ ]:
resultado = media([1, 2, 3, 4, 5, 6, 7, 8, 9])

5.0

In [ ]:
type(resultado)

NoneType

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [ ]:
def media(lista):
  valor = sum(lista)/ len(lista)
  return valor

In [ ]:
media([1,2,3,4,5,6,7,8,9])

5.0

In [ ]:
def media(lista):
  valor = sum(lista)/ len(lista)
  return (valor, len(lista))

In [ ]:
media([1,2,3,4,5,6,7,8,9])

(5.0, 9)

In [ ]:
resultado, n = media([1,2,3,4,5,6,7,8,9])
resultado

5.0

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        result.update({ item[0]: media })
    return result

In [ ]:
km_media(dados, 2019)

{'Crossfox': 2500.0,
 'DS5': 4250.0,
 'Fusca': 3250.0,
 'Jetta': 7000.0,
 'Passat': 3100.0}

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })
    return result

In [ ]:
km_media(dados, 2019)

{'Crossfox': {'ano': 2005, 'km': 35000, 'km_media': 2500.0},
 'DS5': {'ano': 2015, 'km': 17000, 'km_media': 4250.0},
 'Fusca': {'ano': 1979, 'km': 130000, 'km_media': 3250.0},
 'Jetta': {'ano': 2011, 'km': 56000, 'km_media': 7000.0},
 'Passat': {'ano': 1999, 'km': 62000, 'km_media': 3100.0}}

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [ ]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [ ]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [ ]:
dataset = pd.DataFrame(dados)
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [ ]:
#mudar ordem das colunas

dataset[['Nome', 'Motor', 'Ano', 'Quilometragem', 'Zero_km', 'Valor']]

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [ ]:
dataset = pd.DataFrame(dados)
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de um dicionário

In [ ]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

### Criando um DataFrame a partir de uma arquivo externo

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';') # as colunas estão separadas por ;
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [ ]:
dataset = pd.read_excel('CLIENTES.xlsx', ) # as colunas estão separadas por ;
dataset

FileNotFoundError: ignored

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';', index_col = 0) # Gera da coluna 0 como referencia
dataset

                                       Motor  ...      Valor
Nome                                          ...
Jetta Variant                Motor 4.0 Turbo  ...   88078.64
Passat                          Motor Diesel  ...  106161.94
Crossfox                     Motor Diesel V8  ...   72832.16
DS5                          Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4             Motor 2.4 Turbo  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                        Motor V8  ...   51759.58
Cadillac Ciel concept               Motor V8  ...   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo  ...   68934.03
Aston Martin DB5                Motor Diesel  ...  122110.90
Macan                        Motor Diesel V6  ...   90381.47

[258 rows x 6 columns]

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })

    return result

In [ ]:
km_media(dados, 2019)

{'Crossfox': {'ano': 2005, 'km': 35000, 'km_media': 2500.0},
 'DS5': {'ano': 2015, 'km': 17000, 'km_media': 4250.0},
 'Fusca': {'ano': 1979, 'km': 130000, 'km_media': 3250.0},
 'Jetta': {'ano': 2011, 'km': 56000, 'km_media': 7000.0},
 'Passat': {'ano': 1999, 'km': 62000, 'km_media': 3100.0}}

In [ ]:
import pandas as pd
carros = pd.DataFrame(km_media(dados, 2019)).T

In [ ]:
dataset.Motor

0    Motor 4.0 Turbo
1       Motor Diesel
2    Motor Diesel V8
Name: Motor, dtype: object

In [ ]:
dataset.Motor == 'Motor Diesel'

0    False
1     True
2    False
Name: Motor, dtype: bool

0    False
1     True
2    False
Name: Motor, dtype: bool

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [ ]:
dataset.head()

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [ ]:
dataset['Valor'] #vem com indice (nome do carro)

Nome
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [ ]:
dataset[['Valor']]

                           Valor
Nome
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [ ]:
dataset[0:5]

                            Motor  ...      Valor
Nome                               ...
Jetta Variant     Motor 4.0 Turbo  ...   88078.64
Passat               Motor Diesel  ...  106161.94
Crossfox          Motor Diesel V8  ...   72832.16
DS5               Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10

[5 rows x 6 columns]

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [ ]:
dataset.loc['Passat']

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                                 5712
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                       106162
Name: Passat, dtype: object

In [ ]:
dataset.loc[['Passat', 'DS5']]

                  Motor  ...      Valor
Nome                     ...
Passat     Motor Diesel  ...  106161.94
DS5     Motor 2.4 Turbo  ...  124549.07

[2 rows x 6 columns]

In [ ]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [ ]:
dataset.loc[:,['Motor', 'Valor']]

                                       Motor      Valor
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [ ]:
dataset.iloc[[1]]

               Motor  ...      Valor
Nome                  ...
Passat  Motor Diesel  ...  106161.94

[1 rows x 6 columns]

In [ ]:
dataset.iloc[1:4]

                    Motor  ...      Valor
Nome                       ...
Passat       Motor Diesel  ...  106161.94
Crossfox  Motor Diesel V8  ...   72832.16
DS5       Motor 2.4 Turbo  ...  124549.07

[3 rows x 6 columns]

In [ ]:
dataset.iloc[1:4, [0,5, 2]]

                    Motor      Valor  Quilometragem
Nome
Passat       Motor Diesel  106161.94         5712.0
Crossfox  Motor Diesel V8   72832.16        37123.0
DS5       Motor 2.4 Turbo  124549.07            NaN

In [ ]:
dataset.iloc[[1, 42, 22],[0 ,5 , 2]]

                               Motor      Valor  Quilometragem
Nome
Passat                  Motor Diesel  106161.94         5712.0
Optima                 Motor 1.8 16v   86641.34            NaN
Lamborghini Obvious  Motor Diesel V6  133529.84        98079.0

In [ ]:
import pandas as pd

dados = {
    'Nome': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados)

In [ ]:
dataset[['Nome', 'Ano', 'Quilometragem', 'Valor']][1:3]

       Nome   Ano  Quilometragem     Valor
1    Passat  2003         5712.0  106000.0
2  Crossfox  1991        37123.0   72000.0

In [ ]:
import pandas as pd

dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [ ]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

In [ ]:
dataset.iloc[[1, 3], [0, -1]]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

# 5.3 Queries com DataFrames

In [ ]:
select = dataset.Motor == 'Motor Diesel'
select

Nome
Jetta Variant            False
Passat                    True
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5          True
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [ ]:
dataset[select]  #todos que tenham motor a disel

                              Motor  ...      Valor
Nome                                 ...
Passat                 Motor Diesel  ...  106161.94
Effa Hafei Picape Baú  Motor Diesel  ...  125684.65
Sorento                Motor Diesel  ...   81399.35
New Fiesta Hatch       Motor Diesel  ...   66007.16
Kangoo Express         Motor Diesel  ...  146716.91
Fit                    Motor Diesel  ...   77836.23
Cielo Hatch            Motor Diesel  ...  145197.70
Symbol                 Motor Diesel  ...  133030.60
A4 Sedan               Motor Diesel  ...   96369.04
A4 Avant               Motor Diesel  ...  138946.88
Silver Shadow          Motor Diesel  ...  143568.22
Camry                  Motor Diesel  ...  138597.27
Clio                   Motor Diesel  ...  111130.33
Série 3 M3 Coupé       Motor Diesel  ...   69219.89
Gallardo LP 560 – 4    Motor Diesel  ...  144118.91
Chana Utility          Motor Diesel  ...  132662.32
TT Roadster            Motor Diesel  ...   85311.40
Aston Martin Virage    Motor Diesel  ...   97290.18
Sandero                Motor Diesel  ...  112350.61
XKR                    Motor Diesel  ...   54263.16
X5                     Motor Diesel  ...   62041.32
Dodge Dakota           Motor Diesel  ...  141083.35
i30 CW                 Motor Diesel  ...   73311.75
Série 7 Sedã           Motor Diesel  ...   67539.79
V60                    Motor Diesel  ...  114728.74
Aston Martin DB5       Motor Diesel  ...  122110.90

[26 rows x 6 columns]

In [ ]:
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km ==  True)] #todos que tenham motor a diesel e zero km

                            Motor  ...      Valor
Nome                               ...
Sorento              Motor Diesel  ...   81399.35
Cielo Hatch          Motor Diesel  ...  145197.70
Camry                Motor Diesel  ...  138597.27
Aston Martin Virage  Motor Diesel  ...   97290.18
Série 7 Sedã         Motor Diesel  ...   67539.79

[5 rows x 6 columns]

### Utilizando o método query

In [ ]:
dataset.query('Motor == "Motor Diesel" and Zero_km == True') #outra forma de consulta usando o método

                            Motor  ...      Valor
Nome                               ...
Sorento              Motor Diesel  ...   81399.35
Cielo Hatch          Motor Diesel  ...  145197.70
Camry                Motor Diesel  ...  138597.27
Aston Martin Virage  Motor Diesel  ...   97290.18
Série 7 Sedã         Motor Diesel  ...   67539.79

[5 rows x 6 columns]

In [ ]:
import pandas as pd

dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor Diesel', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

# 5.4 Iterando com DataFrames

In [ ]:
# divisão por zero pode ser tratadas (tratamento de erro)
for index, row in dataset.iterrows():
  if (2019 - row['Ano'] !=0):
    dataset.loc[index, 'km_media'] = row['Quilometragem'] / (2019 - row['Ano'])
  else:
      dataset.loc[index, 'km_media'] = 0
dataset

                    Motor   Ano  Quilometragem  Zero_km     Valor     km_media
Jetta     Motor 4.0 Turbo  2019            0.0     True   88000.0     0.000000
Passat       Motor Diesel  2003         5712.0    False  106000.0   357.000000
Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0  1325.821429
DS5          Motor Diesel  2019            0.0     True   89000.0     0.000000
Fusca           Motor 1.6  1990       120000.0    False   32000.0  4137.931034

# 5.5 Tratamento de dados

In [ ]:
dataset.head()

                    Motor   Ano  Quilometragem  Zero_km     Valor     km_media
Jetta     Motor 4.0 Turbo  2019            0.0     True   88000.0     0.000000
Passat       Motor Diesel  2003         5712.0    False  106000.0   357.000000
Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0  1325.821429
DS5          Motor Diesel  2019            0.0     True   89000.0     0.000000
Fusca           Motor 1.6  1990       120000.0    False   32000.0  4137.931034

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Jetta to Fusca
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          5 non-null      object
 1   Ano            5 non-null      int64
 2   Quilometragem  5 non-null      float64
 3   Zero_km        5 non-null      bool
 4   Valor          5 non-null      float64
 5   km_media       5 non-null      float64
dtypes: bool(1), float64(3), int64(1), object(1)
memory usage: 405.0+ bytes

In [ ]:
dataset.Quilometragem.isna() #verificar os dados

Jetta       False
Passat      False
Crossfox    False
DS5         False
Fusca       False
Name: Quilometragem, dtype: bool

In [ ]:
dataset[dataset.Quilometragem.isna()]

Empty DataFrame
Columns: [Motor, Ano, Quilometragem, Zero_km, Valor, km_media]
Index: []

In [ ]:
dataset.fillna(0, inplace = True) # valores NaN para serem 0
dataset

                    Motor   Ano  Quilometragem  Zero_km     Valor     km_media
Jetta     Motor 4.0 Turbo  2019            0.0     True   88000.0     0.000000
Passat       Motor Diesel  2003         5712.0    False  106000.0   357.000000
Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0  1325.821429
DS5          Motor Diesel  2019            0.0     True   89000.0     0.000000
Fusca           Motor 1.6  1990       120000.0    False   32000.0  4137.931034

In [ ]:
dataset.query("Zero_km == True") #soemnte carros zero (0)

                 Motor   Ano  Quilometragem  Zero_km    Valor  km_media
Jetta  Motor 4.0 Turbo  2019            0.0     True  88000.0       0.0
DS5       Motor Diesel  2019            0.0     True  89000.0       0.0

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';')
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
3                      DS5  ...  124549.07
4         Aston Martin DB4  ...   92612.10
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[258 rows x 7 columns]

In [ ]:
dataset.dropna(subset = ['Quilometragem'], inplace = True)

In [ ]:
dataset

                      Nome  ...      Valor
0            Jetta Variant  ...   88078.64
1                   Passat  ...  106161.94
2                 Crossfox  ...   72832.16
4         Aston Martin DB4  ...   92612.10
5            Palio Weekend  ...   97497.73
..                     ...  ...        ...
253           Phantom 2013  ...   51759.58
254  Cadillac Ciel concept  ...   51667.06
255             Classe GLK  ...   68934.03
256       Aston Martin DB5  ...  122110.90
257                  Macan  ...   90381.47

[197 rows x 7 columns]