In [3]:
import pandas as pd

In [4]:
data = [0.5, None, None, 5.52, 0.54, None, None, 0.59, 0.6, None, 0.7]

In [5]:
s = pd.Series(data)

In [6]:
s

0     0.50
1      NaN
2      NaN
3     5.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [7]:
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     5.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [8]:
s.fillna(method = 'ffill') # o que ele faz: Pega o valor anterior e joga no campo seguinte que era inválido de cima para baixo

0     0.50
1     0.50
2     0.50
3     5.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [9]:
s.fillna(method = 'bfill') # o que ele faz: Pega o valor anterior e joga no campo seguinte que era inválido de baixo para cima

0     0.50
1     5.52
2     5.52
3     5.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [13]:
atletas = pd.DataFrame([['Marcos', 9.62], ['Pedro', None], ['João', 9.69], 
                        ['Beto', 9.72], ['Sandro', None], ['Denis', 9.69], 
                        ['Ary', None], ['Carlos', 9.74]], 
                        columns = ['Corredor', 'Melhor Tempo'])
atletas

  Corredor  Melhor Tempo
0   Marcos          9.62
1    Pedro           NaN
2     João          9.69
3     Beto          9.72
4   Sandro           NaN
5    Denis          9.69
6      Ary           NaN
7   Carlos          9.74

In [ ]:
# Note que o tempo de alguns atletas não foi registrado por algum erro no processo de medição. 
#Observando os dados e tendo um conhecimento prévio do desempenho de cada atleta, você, como cientista de dados, resolve que é razoável para este 
#caso específico atribuir o tempo médio de todos os atletas aos dados faltantes.

# SOLUÇÃO

In [11]:
atletas.fillna(atletas.mean(), inplace = True)

In [12]:
atletas

  Corredor  Melhor Tempo
0   Marcos         9.620
1    Pedro         9.692
2     João         9.690
3     Beto         9.720
4   Sandro         9.692
5    Denis         9.690
6      Ary         9.692
7   Carlos         9.740